@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #FF5F96;
}


/*------------ Logo area ------------*/

.logoarea{
    width: 758.44px; height: 230px;

}

.logoarea p{
    color: white;
    text-align: center;
    margin-right: 70%;
    padding-top: 10%;
}
/*------------ Login container ------------*/

.box-area{
    width: 930px;
    background-color: #FF5F96;
}

.mt-5 {
     margin-top: 5 !important;
   }
/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}