
body {
    background-color: palevioletred;
          
    }
    
.about {
    font-size: larger;
    }
#moodysongs {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: large;
}