
.music{
    background-image: url(images/music6.png);
    background-size: cover;
    }
.home{
    background-image: url(images/mood.png);
    background-size: cover;
}
    
.about {
    font-size: larger;
    }
#moodysongs {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bolder;
}
.about-us{
    background-image: url(/images/headphones_hero_1.jpg);
    background-size: cover;
}
h2{
    color: rgb(79, 178, 239);
}
p{
    color: azure;
}
nav{
    color: azure;
}
.navbar-brand{
    color:rgb(245, 15, 92);
}
.nav-item{
    color: azure;
}
h3{
    color: aqua;
    font-weight: bold;
}